
yolov3.cfg
yolov3.weights
videoplayback.mp4
testOutput2.avi
dog_park.mp4
kuz.avi
static/t.jpg
static/output8001.avi
static/output8002.avi
static/output8003.avi
static/output8004.avi
templates/t.jpg
test.avi
VID-20200206-WA0018.mp4
VID_20200526_172941.mp4
VID_20200526_173146.mp4
VID_20200526_174555.mp4
VID_20200526_174814.mp4
VID_20200527_012616.mp4
VID_20200526_173041.mp4
t.jpg
VID_20200526_173036.mp4
VID_20200524_233346.mp4
static/output.avi
static/output8000.avi
static/output.avi
static/output.avi
IMG_20200525_181830.jpg
IMG-b0a12d5d51d47a2b330c1d3eef6fb256-V.jpg
*.mp4
*.avi
*.m4v
*.webm
*.jpg
templates/.prettierrc
__pycache__/colorizer.cpython-38.pyc
__pycache__/upscaler.cpython-38.pyc
model/colorization_deploy_v2.prototxt
model/colorization_release_v2.caffemodel
model/pts_in_hull.npy
.vscode/launch.json
.idea/vcs.xml
.idea/PyCameraServer.iml
.idea/other.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/launch.json
.vscode/launch.json
mask-rcnn-coco/mask_rcnn_inception_v2_coco_2018_01_28.pbtxt
mask-rcnn-coco/frozen_inference_graph.pb
mask-rcnn-coco/object_detection_classes_coco.txt
mask-rcnn-coco/colors.txt
maskRcnn.py
processing/__init__.py
processing/__pycache__/__init__.cpython-35.pyc
processing/__pycache__/__init__.cpython-36.pyc
processing/__pycache__/__init__.cpython-37.pyc
processing/__pycache__/__init__.cpython-38.pyc
processing/motion_detection/__init__.py
processing/motion_detection/__pycache__/__init__.cpython-35.pyc
processing/motion_detection/__pycache__/__init__.cpython-36.pyc
processing/motion_detection/__pycache__/__init__.cpython-37.pyc
processing/motion_detection/__pycache__/__init__.cpython-38.pyc
processing/motion_detection/__pycache__/detector.cpython-36.pyc
processing/motion_detection/__pycache__/detector.cpython-37.pyc
processing/motion_detection/__pycache__/detector.cpython-38.pyc
processing/__init__.py
processing/__pycache__/__init__.cpython-35.pyc
processing/__pycache__/__init__.cpython-36.pyc
processing/__pycache__/__init__.cpython-37.pyc
processing/__pycache__/__init__.cpython-38.pyc
processing/motion_detection/__init__.py
processing/motion_detection/__pycache__/__init__.cpython-35.pyc
processing/motion_detection/__pycache__/__init__.cpython-36.pyc
processing/motion_detection/__pycache__/__init__.cpython-37.pyc
processing/motion_detection/__pycache__/__init__.cpython-38.pyc
processing/motion_detection/__pycache__/detector.cpython-36.pyc
processing/motion_detection/__pycache__/detector.cpython-37.pyc
processing/motion_detection/__pycache__/detector.cpython-38.pyc
processing/motion_detection/__pycache__/detector.cpython-38.pyc
static/2.png
1.png
static/videos/2.png
static/videos/bear.ogv
static/w.png
static/w2.png
w.png
w2.png
templates/1.js
noisy.jpeg
noisy2.png
.~lock.pycallgraph.dot#
classes_myproject2.png
colorized.png
myuses.dot
pyan.py
pyan/__pycache__/__init__.cpython-38.pyc
pyan/__pycache__/analyzer.cpython-38.pyc
pyan/__pycache__/anutils.cpython-38.pyc
pyan/__pycache__/main.cpython-38.pyc
pyan/__pycache__/node.cpython-38.pyc
pyan/__pycache__/visgraph.cpython-38.pyc
pyan/__pycache__/writers.cpython-38.pyc
pyan/analyzer.py
pyan/anutils.py
pyan/main.py
pyan/node.py
pyan/visgraph.py
pyan/writers.py
README.md
pyan/__init__.py
mask_rcnn_segmentation.py
